<%include partials/header%>

<h1>campgrounds apge</h1>

<a href="/campgrounds/new">Add a new campground</a>

<% campgrounds.forEach(function(campground){ %>
  <div class="">
    <h4><%=campground.name%></h4>
    <img src="<%=campground.image%>" />
  </div>
<% }); %>

<%include partials/footer%>
